.formMainBox{
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 20px;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 1100;
    display: flex;
}
.formBox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border:1px solid white;
    border-radius: 3rem;
    padding: 1rem;

    background-color: white;

}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

form {
    width: 20rem;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;

    box-shadow: 0.4rem 0.6rem 1.2rem 0.3rem rgb(34, 32, 32);
}

form div {
    margin-bottom: 15px;
}

input,
textarea {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.formBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formBtn:hover {
    background-color: #45a049;
}
.formTitle{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.form{
    margin-top: 1.2rem;
    font-weight: bold;
    color: rgb(184, 55, 4);
}
.closeForms{
    display: flex;
    justify-self: end;
    align-items: end;
}

.closeForm{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.divBtn{
    display: flex;
    justify-content: center;
    padding: 10px 15px;
}
.FormLabel{
    width: 90%;
    display: flex;
    justify-content: left;
    align-self: center;
}

@media(max-width: 1060px){
    .formMainBox{
        position: fixed;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: white; 
        padding: 20px;
        border-radius: 2rem;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        z-index: 1100;
        display: flex;
    }
    .formBox1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        border:1px solid white;
        border-radius: 3rem;
        padding: 1rem;
    
        background-color: white;
    
    }
    
    form {
        width: 20rem;
        margin: auto;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    
        box-shadow: 0.4rem 0.6rem 1.2rem 0.3rem rgb(34, 32, 32);
    }
    
    form div {
        margin-bottom: 15px;
    }
    
    .form label {
        display: block;
        margin-bottom: 1rem;
    }
    
    input,
    textarea {
      width: 90%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    .formBtn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .formBtn:hover {
        background-color: #45a049;
    }
    .formTitle{
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: bold;
    }
    .form{
        margin-top: 1.2rem;
        font-weight: bold;
        color: rgb(184, 55, 4);
    }
    .closeForms{
        display: flex;
        justify-self: end;
        align-items: end;
    }
    
    .closeForm{
        position: absolute;
        top: 10px;
        right: 10%;
        background: transparent;
        border: none;
        font-size: 1.4rem;
        cursor: pointer;
    }
    
    .divBtn{
        display: flex;
        justify-content: center;
        padding: 10px 15px;
    }
    .formContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}