*{
    margin: 0;
    height: auto;
}

/* Icons */
.Icon{
    width: 60%;
    height: 80%;
    border-radius: 5rem;
}
/* card styling */
/* 1st cardset */

.Grid0{
    border: 1px solid black;
    width: auto;
    height: 50rem;
    display: grid;
    grid-template-columns: 20% 80%;
}
/* Grid 0 */
.SideBar{
    grid-column: 1;
    border: 1px solid black;
}

/* side-bar */
.TopOfSideBar{
    padding: 2rem;
    border: 1px solid black;
    border-bottom-right-radius: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 10rem;
}
.MyStats{
    display: flex;
    flex-direction: column;
}

.Heading{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Mainscreen */
.MainScreen{
    grid-column: 2;
    border: 1px solid black;
    height: 5rem;
}

.MainImg{
    border: 1px solid black;
    height: 5rem;
}
.OverBackground{
    color: lightblue;
    top: 10%;
    left: 20%;
}
/* Grid 1 */
.Grid1{
    border: 1px solid black;
    height: 5rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
    align-items: center;
}
.cards{
    width: auto;
    height: 70%;

    border: 1px solid black;
    border-radius: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

}

/* Main Nav */
.MainNav{

}


.grid-item1{
    grid-column: 2;
    border-radius: 3rem;
    width: 80%;
    height: 60%;
}
.grid-item2{
    grid-column: 3;
    border-radius: 3rem;
}
.grid-item3{
    grid-column: 4;
    border-radius: 3rem;
}
.grid-item4{
    grid-column: 5;
    border-radius: 3rem;
}


.Card0{
    border: 1px solid black;
}

/* For all Icons */
.WebIcon{

}

.UserIcon{
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 4rem;
    text-overflow: ellipsis;
}
.MainNav{
    height: 5rem;
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
}

.MainImg{
    position: relative;
    width: 100%;
    height: 30rem; /* Full viewport height */
    overflow: hidden;
}

.BackgroundImg{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.WelcomeText{
    position: absolute;
    top: 40%; /* Centers the text vertically */
    left: 30%; /* Centers the text horizontally */
    transform: translate(-50%, -50%); /* Adjusts position to be perfectly centered */
    color: white; /* White text color */
    text-align: center;
    z-index: 1;
}

/* for all content */
.text-headings{
    text-align: center;
}

.text{
    border-radius: 2rem;
}

.SlideShow{
    height: auto;
}