.ItemsGrid0 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Card1{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Card2 {
    display: flex;
    grid-column: 3;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}

.ItemCard {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.CardBtns {
    width: auto;
    height: 2.5rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: blue;
    cursor: pointer;
}

.item-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the images are resized properly */
}

.DropDown {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.dropdown button {
    display: flex;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 3rem;
    flex-direction: column;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
}
.dropdown-menu-items{
    border: 1px solid black;
    background-color: white;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-menu-items:hover{
    background-color: grey;
    color: white;
}
.ItemCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item-title{
    display: flex;
    justify-content: center;

}

.item-describtion{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.item-describtion-heading{
    text-decoration: underline;
    font-size: 2rem;
}
.itemDescribtionText{
    font-size: 1.3rem;
    width: 80%;

    background-color: rgb(238, 208, 208);
    border: 1px dashed black;
    padding: 2rem;
}
